// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

nav.pagination {
    a.pagination-link.is-current {
        background-color: $primary;
    }
}

.table > tbody {
    tr.is-selected {
        background-color: $selectedBg;
    }
}
tr.is-selected td {
    color: $color_black !important;
}
